.keynoteaddfilter{
    background-image:
    url('images/image.jpg');
    /* background-color: black; */
    opacity: 0.95;
 }
 
 
   
   body::-webkit-scrollbar {
     display: none;
     width: 0;
   }