.keynoteaddfilter{
    background-image:
    url('images/image.jpg');
    /* background-color: black; */
    opacity: 0.95;
 }
 
 .expandButton:hover{
   background-color: grey;
 }
 .expandButton{
   height: 40px;
   width: 40px;
   border-radius: 20px;
 }
 .keynoteeventHeading{
   margin-top: 30vh;
 }
 .keynoteCardImage{
   width: 100%;
   height: calc(100% - 180px);

 }

 .activator{
   height: 100%;
   width: 100%;
 }

 .card-title{
   font-weight: bold;
 }

 .cardDesign{
   height: 100%;
   width: 100%;
 }

 .keynoteRow{
   margin-top: 10vh; 
   display: flex;
 }

 .keynoteCard{
   width: 30vw;
   margin-left: 13vw;
   height: 70vh;
 }

 .KeynoteHeading{
   height:100vh;
 }
 .closeButton:hover{
  background-color: red;
}
.closeButton{
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
 

@media only screen and (max-width: 950px) {
  .keynoteCard{
    margin-left: 10vw;
    width: 35vw;
  }
}

@media only screen and (max-width: 650px) {
  .keynoteRow{
    display: block;
  }
  .keynoteCard{
    margin-left: 15vw;
    margin-bottom: 7vh;
    width: 70vw;
  }
}
   body::-webkit-scrollbar {
     display: none;
     width: 0;
   }

   .card-reveal::-webkit-scrollbar {
    display: none;
    width: 0;
  }
.addfilter{
  background-image: linear-gradient(160deg,  rgba(108,57,15,0.75) 3%, rgba(148,88,24,0.75) 28%, rgba(120,70,9,0.75) 46%, rgba(224,182,25,0.75) 79%, rgba(190,181,4,0.75) 100%),url('images/image.jpg');
  background-size: cover;


}

.font-setting{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 8vh;
}
.card-alignment{
  width: 100%;
  align-content: center;
}
