.committeeaddfilter{
   background-image:linear-gradient(to bottom, rgba(108,57,15,0.75) 3%, rgba(148,88,24,0.75) 28%, rgba(120,70,9,0.75) 46%, rgba(224,182,25,0.75) 79%, rgba(190,181,4,0.75) 100%),
   url('images/image.jpg');
   /* background-color: black; */
}

.cardimage{
    background-size: 100% 100%;
}

.cardInner{
    max-width: 100vw !important;

}

.ChiefPatron{
    align-items: center;
    width: 100vw;
    padding-left: 30vw;
    padding-right: 30vw;
}

.cardOuter{
    width: 40vw;
}
.committeeHeading{
    font-size: 50px;
}

.avatarImage{
    height: 40px;
    width: 40px;
}
 
.commeventHeading{
    font-size: 70px;
    margin-top: 40vh;
}

.organizingCommittee{
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
.chairPerson{
    display: flex;
}
.cardChair{
    width: 29vw;
    margin-right: 1vw;
}
@media only screen and (max-width: 900px) {
    .commeventHeading{
        font-size: 30px;
    }
    .cardOuter{
        width: 60vw;
    }
    .committeeHeading{
        font-size: 40px;
    }
    .ChiefPatron{
        width: 100vw;
        padding-left: 20vw;
        padding-right: 20vw;
    }
}
@media only screen and (max-width: 650px) {
    .commeventHeading{
        font-size: 30px;
    }

    .chairPerson{
        display: block;
    }
    .organizingCommittee{
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .cardChair{
        width: 80vw;
        margin-bottom: 5vh;
    }
    .committeeHeading{
        font-size: 25px;
    }
    .cardOuter{
        width: 80vw; 
    }
    .ChiefPatron{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
body::-webkit-scrollbar {
    display: none;
    width: 0;
  }
