.addfilter{
   background-image: linear-gradient(to bottom, rgba(2,0,36,0.85) 5%, rgba(4,9,10,0.85) 28%, rgba(5,19,46,0.85) 44%, rgba(10,45,63,0.85) 69%, rgba(0,212,255,0.85) 100%),
   url('images/building2.jpg');
}

.navbar{
    background-color: rgba(2,0,36,0.3) ;
}

.homeBlock{
    margin-top: 16vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
.eventName{
    font-size: 40px;
}
.eventHeading{
    font-size: 70px;
}

.homelocation{
    font-size: 20px;
    margin-top: 10vh;
}
.aboutData{
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 25px;
}

.aboutHeading{
    margin-left: 10vw;
}
.infoHeading{
    font-size: 40px;
    align-content: center;
    color: rgba(2,0,36,1);
}

.infoData{
    font-size: 20px;
    color: rgba(2,0,36,1);
}
.infoouter{
    margin-top: 10vh;
    margin-left: 8vw;
    margin-right: 8vw;
    display: flex;
}

.partnerHeading{
    margin-top: 0;
    padding-top: 5px;
    text-align: center;
}
.infobox{
    border: 1px solid rgba(2,0,36);
    border-radius: 5px;
    margin-left: 5px;
    width: 30vw;
    padding: 20px;
    background-color: rgba(0,212,255);
}

.map{
    margin-top: 10vh;
}

.partners{
    background-color: #097986;
    height: 40vh;
}
.mapframe{
    width: 100%;
    height: 500px;
}
@media only screen and (max-width: 960px) {
    .infobox{
        width: 80vw;
        margin-bottom: 10px;
    }
    .infoData{
        font-size: 25px;
    }
    .infoHeading{
        font-size: 40px;
    }
    .infoouter{
        display: block;
    }
}

@media only screen and (max-width: 650px) {
    .eventHeading{
        font-size: 40px;
    }
    .mapframe{
        height: 350px;
    }
    .eventName{
        font-size: 25px;
    }
    .infoData{
        font-size: 15px;
    }
    .infoHeading{
        font-size: 30px;
    }
    .homeBlock{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .homelocation{
        font-size: 16px;
    }
    .aboutHeading{
        font-size: 30px;
    }
    .aboutData{
        font-size: 15px;
    }
  }
  
  
  
  body::-webkit-scrollbar {
    display: none;
    width: 0;
  }