.addfilter{
   background-image: linear-gradient(to bottom, rgba(2,0,36,0.85) 5%, rgba(4,9,10,0.85) 28%, rgba(5,19,46,0.85) 44%, rgba(10,45,63,0.85) 69%, rgba(0,212,255,0.85) 100%),
   url('images/building2.jpg');
}

.homeBlock{
    margin-top: 16vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
.eventName{
    font-size: 40px;
}
.eventHeading{
    font-size: 70px;
}

.homelocation{
    font-size: 20px;
    margin-top: 10vh;
}
.aboutData{
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 30px;
}

.aboutHeading{
    margin-left: 10vw;
}

.infoouter{
    margin-left: 4vw;
    margin-right: 4vw;
}

.infobox{
    border: 1px solid rgba(2,0,36);
    background-color: rgba(0,212,255);
}

@media only screen and (max-width: 650px) {
    .eventHeading{
        font-size: 40px;
    }
    .eventName{
        font-size: 25px;
    }
    .homeBlock{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .homelocation{
        font-size: 16px;
    }
    .aboutHeading{
        font-size: 30px;
    }
    .aboutData{
        font-size: 15px;
    }
  }
  
  
  body::-webkit-scrollbar {
    display: none;
    width: 0;
  }